/* Welcome board */
.viewWelcomeBoard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textTitleWelcome {
  font-size: 22px;
  font-weight: bold;
  color: #203152;
}

.textDesciptionWelcome {
  font-size:10px;
  color: #203152;
  margin-bottom: 200px;
}
