
/* NAVBAR */
.navbar {
    width: 100%;
    display: block;
    height: 137px;
    z-index: 999;
    transition: .25s ease-in-out;
    background-size: auto 5px;
    background: url(../Images/rainbow-bar.png) top repeat-x #fff;
    position:fixed;
    box-shadow: 0 3px 15px 0 #c9cdd3;
    padding: 0 15px;
}

.navbar .navbar-top {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-top i{
    cursor: pointer;
    color:#c04f78;
}

.navbar .navbar-bottom {
   float: right;
}
.navbar .hamburger-menu span {
    background: #99a4be;
}

.navbar .logo {
    float: left;
}

.navbar .logo-container{
    display:flex;
    align-items: center;
}

.navbar .hamburger-menu {
    float: right;
    margin-left: 10px;
    margin-top: 2px;
}

.navbar .custom-btn {
    display: inline-block;
    background: #c04f78;
    color: #fff;
    line-height: 24px;
    height: 26px;
    padding: 0 15px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.navbar .custom-btn:hover {
    text-decoration: none;
    background: #fed20f;
    color: #fff;
}

.navbar .navbar-nav {
    display: inline-block;
    position: relative;
    z-index: 2;
    line-height: 35px;
}

.navbar .navbar-nav .nav-item {
    float: left;
    position: relative;
}

.navbar .navbar-nav .nav-item ul {
    width: 225px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10px;
    top: calc(100% + -1px);
    background: #fff;
    text-align: left;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    display: none;
    transition: .25s ease-in-out;
}

.navbar .navbar-nav .nav-item ul:before {
    content: "";
    width: 100%;
    height: 13px;
    position: absolute;
    left: 0;
    top: -13px;
}

.navbar .navbar-nav .nav-item ul li {
    width: 100%;
    float: left;
    line-height: 20px;
    margin: 0;
    list-style: none;
    padding: 10px 15px 10px 15px;
}

.navbar .navbar-nav .nav-item ul li:hover {
    background-color: #f6b92b;
}

.navbar .navbar-nav .nav-item ul li:hover a {
    color: #fff;
}

.navbar .navbar-nav .nav-item ul li a {
    width: 100%;
    float: left;
    color: #888;
    font-size: 14px;
    font-weight: 600;
}

.navbar .navbar-nav .nav-item ul li a:hover {
    text-decoration: none
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #c04f78;
    text-transform: uppercase;
    padding: 0 8px;
    font-weight: 600;
    font-size: 13px;
    border-bottom: 1px solid transparent;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    text-decoration: none;
}

.navbar .navbar-nav .nav-item:hover{
    cursor:pointer;
}

.navbar .navbar-nav .nav-item:hover .nav-link{
    color: #f6b92b;
}

.navbar .navbar-nav .nav-item:hover ul {
    display: block;
}
.marquee {
    width: 100%;
    line-height: 18px;
    font-size: 15px;
    color: #0062cc;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    box-sizing: border-box;
    top: 160px;
}
.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.important-links{
    padding: 0;
    display:flex;
    margin: 12px 0 0 0;
    justify-content: flex-end;
}

.important-links li {
    float: left;
    padding: 0 5px;
    list-style: none;
    border-right: 1px solid #c4c6c7
}

.important-links li a {
    color: #585c5f;
    font-size: 12px;
    font-weight: 600;
}

.important-links li:last-child {
    border-right: 0;
    padding-right: 0;
}

#hambmenu {
    font-size: 20px;
    cursor: pointer;
    margin-right: 15px;
    color:#c24d78;
}

#hambmenu span:nth-child(1) {
    top: 0px;
}

#hambmenu span:nth-child(2), #hambmenu span:nth-child(3) {
    top: 10px;
}

#hambmenu span:nth-child(4) {
    top: 20px;
}

#hambmenu.isopen span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
}

#hambmenu.isopen span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hambmenu.isopen span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hambmenu.isopen span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
    opacity: 0;
}

.user-info{
    cursor:pointer;
}
.user-info span{
    font-weight: bold;
    text-transform:capitalize;
    padding: 0 10px 0 0;
    color:#585c5f;
}
.hide{
    display: none;
}
.is-right-open{
    display:block!important;
    top: 90px;
    right: 10px;
    z-index: 999;
    width: 200px;
    position:fixed!important;
}

.is-right-open .up-arrow{
    width: 0px;
    position: absolute;
    top: -10px;
    right: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f1f5fd;
}
.is-right-open ul{
    margin: 0;
    padding: 0px;
}


.is-right-open ul li{
    background: #f1f5fd;
    padding: 8px 20px;
    text-align: right;
    border-bottom: 1px solid #fff;
}
.is-right-open ul li:hover{
    background: #c04f78;

}
.is-right-open ul li a{
     color: #c04f78;
}
.is-right-open ul li:hover a{
    color:#fff;
}

.is-right-open ul li:last-child{
    border-bottom: 0px;
}
#menu {
    position: fixed;
    top: 87px;
    /* height: calc(100vh - 60px); */
    left: 0;
    width: 240px;
    z-index: 100;
    background-color: white;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: -webkit-transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
}
#menu > ul {
    padding: 0;
    margin: 0;
}
#menu li a {
    text-decoration: none;
    color: black;
    padding: 8px;
    display: inline-block;
    font-size: 13px;
}
#menu > ul > li > p{
    margin:0;
}
#menu > ul > li:hover > p{
    background-color: #f6b92b;
    cursor:pointer;
}
#menu > ul > li:last-child:hover > p{
    background-color: #fff !important;
}
#menu > ul > li:last-child:hover > p a{
    font-weight: normal;
}
#menu > ul > li:hover > p a, #menu > ul > li:hover > p i{
    color:#fff;
    font-weight: 700;
}

#menu > ul > li:last-child {
    border-bottom: none;
    background: #fff;
    text-align: center;
    border-top: 1px solid #f2f2f2;
}

#menu > ul > li:last-child:hover {
    font-weight: 700;
}
#menu > ul > li:last-child span{
    color: #fff;
    text-transform: uppercase;
    background: #c24d78;
    border-radius: 40px;
    padding: 0 25px;
    display:inline-block;
    line-height: 35px;
    margin: 10px;
    cursor: pointer;
}
#menu li .icon{
    color: #179ace;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}
#menu.isopen {
    -webkit-transform: none;
    transform: none;
}
.sub-menu{
    padding:0;
}
.sub-menu li a{
    background-color: #fff;
    border-bottom:1px solid #fff;
}
.sub-menu li:hover{
    cursor:pointer;
}
.sub-menu li:hover a{
    font-weight: bold;
}
.sub-menu li:last-child{
    border-bottom:0;
}
.sub-menu li a{
    padding: 5px 0 5px 20px !important;
}


@media (max-width: 992px) {
    #menu{
        top:131px;
    }
    .navbar {
        height: 130px !important;
    }
}