.ReactTable.outer-table .rt-thead.-header{
    box-shadow: none !important;
    background: #e6e6e6;
}
.ReactTable.inner-table .rt-thead.-header{
    box-shadow: none !important;
    background: #7ba1ee;
    color:#fff;
}
.ReactTable.inner-table{
    background: #f1f5fd;
    font-size: 12px;
    margin: 0;
    border: none
}
.ReactTable .not-found{
    font-size:12px;
    background: #f1f5fd;
    padding: 5px 10px;
}